<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyut">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FollowingListActivity"></activity>
        <activity android:name=".activity.FollowerListActivity"></activity>
        <activity android:name=".activity.SchemaListActivity"></activity>
        <activity android:name=".activity.MyfavActivity"></activity>
        <activity android:name=".activity.SchemaDetailActivity"></activity>
        <activity android:name=".activity.SportListActivity"></activity>
        <activity android:name=".activity.ActivityDetailActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"><!-- 键盘不将导航栏顶起-->

        </activity>
        <activity android:name=".activity.FoodListActivity"></activity>
        <activity android:name=".activity.CommentDetailActivity"></activity>
        <activity android:name=".activity.UpdatePwActivity"></activity>
        <activity android:name=".activity.SettingActivity"></activity>
        <activity android:name=".activity.ActivityActivity"></activity>
        <activity android:name=".activity.ReportActivity">

        </activity>
        <activity android:name=".activity.TopicListActivity"></activity>
        <activity android:name=".activity.MainActivity">

        </activity>
        <activity android:name=".activity.HomeActivity"
            android:windowSoftInputMode="adjustPan"><!-- 键盘不将导航栏顶起-->
                                                     <!-- +puw消失自动隐藏软键盘-->

        </activity>
        <activity android:name=".activity.LoginActivity">

        </activity>
        <activity android:name=".activity.BigPicActivity">

        </activity>

        <activity android:name=".activity.ForgetPwActivity">

        </activity>

        <activity android:name=".activity.RegisterActivity">

        </activity>

        <activity android:name=".activity.PunchinActivity">

        </activity>
        <activity android:name=".activity.ShareActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>

        <activity android:name=".activity.AddStatusActivity">

        </activity>
        <activity android:name=".activity.WeightActivity">

        </activity>
        <activity android:name=".activity.GirthActivity">

        </activity>
        <activity android:name=".activity.UpdateUserInfoActivity" />
        <activity android:name=".activity.UpdateUsernameActivity" />
        <activity android:name=".activity.UpdatePhoneActivity" />
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.UpdateUserDataActivity" />
        <activity android:name=".activity.TestActivity" >

        </activity>
        <activity android:name=".activity.ShowSchemaActivity" />
        <activity android:name=".activity.RecordActivity" />
        <activity android:name=".activity.DietAndSportActivity" />
        <activity android:name=".activity.TopicActivity" />
        <activity android:name=".activity.FoodDetailActivity">

        </activity>
        
        <provider
            android:authorities="com.tyut.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"></meta-data>
        </provider>
    </application>

</manifest>